<nav>

    <!--<div class="btn-toolbar bs-component" style="margin: 0;">-->

        <div class="btn-group">
            <a href="#" class="btn btn-primary">Create Policy</a>
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="" [routerLink]="['/create']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Hab</a></li>
                <li><a class="" [routerLink]="['/create']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Auto</a></li>
                <li><a class="" [routerLink]="['/create']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Commercial</a></li>
                <li class="divider"></li>
                <li><a class="" [routerLink]="['/create']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Life</a></li>
            </ul>
        </div>

    <!--</div>-->

  <a class="btn btn-primary" [routerLink]="['/inbox']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">View Inbox</a>
  <a class="btn btn-primary" [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">View Forms</a>
</nav>
